CHATBOT INTEGRATION TO CLOUDANT.json
[
    {
        "id": "942c34f.944b9c8",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d4f748d.d5fb2c",
        "type": "http in",
        "z": "942c34f.944b9c8",
        "name": "BOT Home Page",
        "url": "/covbot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "a3c13bca.7f1ad8"
            ]
        ]
    },
    {
        "id": "10a42caa.42cec3",
        "type": "template",
        "z": "942c34f.944b9c8",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  CovBot: The real covid 19 Assistant\n\t</title>\n\t\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\n\t<link rel=\"stylesheet\"\n        href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" />\n\t\n\t<link rel=\"stylesheet\"\n        href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" />\n\t\t\n\t<link rel=\"stylesheet\" href=\"https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css\">\n\t\t\n\t<link rel=\"stylesheet\"\n        href=\"https://fontawesome.com/v4.7.0/icons\" />\n\t\n\t<link rel=\"stylesheet\"\n        href=\"https://fontawesome.com/v4.7.0/icon/paper-plane\" />\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n      \n      <header class=\"header-area header-sticky\">\n                    <nav> \n                    \n                    <label class=\"logo\">DATA DRAGONS</label>\n                        <ul>\n\t\t\t\t\t\t\t<li><a class=\"active\" href=\"https://node-red-bdgpz.eu-gb.mybluemix.net/home\">Home</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://node-red-bdgpz.eu-gb.mybluemix.net/ui/#!/2?socketid=2i8H3mGOLKa_V6UCAAA9\">Covid Tracker</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://dataplatform.cloud.ibm.com/dashboards/c1a8b79e-22c6-4e4e-a7e3-7ae1bb99a0dc/view/0011dc7c34a02ed663bcf2e407cd7d047e3e275ab2bb8551d3d77b490b607697a8681096c82b4c5ede185137a1eb150bcd\">DashBoard</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://node-red-bdgpz.eu-gb.mybluemix.net/contact\">Contact</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://node-red-bdgpz.eu-gb.mybluemix.net/feedback\">Feedback</a></li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</nav>\t\n      </header>\n      \n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\t\n    <div class=\"container\">\n\t\t<div class=\"msg-header\">\n\t\t\t\n\t\t\t<div class=\"headder-icons\">\n\t\t\t\t<i class=\"fa fa-phone\" rel=“stylesheet”></i>\n\t\t\t\t<i class=\"fa fa-video-camera\"></i>\n\t\t\t\t<i class=\"fa fa-info-circle\"></i>\n\t\t\t\t\n\t\t\t\t<i class=\"fa fa-paper-plane\" rel=“stylesheet”></i>\n\t\t\t</div>\n\t\t\t\n\t\t\t<div class=\"activee\">\n\t\t\t\t<h4>CovBot</h4>\n\t\t\t\t<h6>Asst. for covid-19 </h6>\n\t\t\t\t\n\t\t\t</div>\n\t\t\t\n\t\t</div>\n\t\t\t<div >\n\t\t\t\t<div class=\"msg-inbox\">\n\t\t\t\t\t<div class=\"chatts\">\n\t\t\t\t\t\t<div class=\"msg-pg\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t\t<div class=\"rcvd-chatts\">\n\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t<div class=\"rcvd-msg\">\n\t\t\t\t\t\t\t\t        \n\t\t\t\t\t\t\t\t\t\t<div id=id_botchathistory>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t\t<div class=\"msg-bottom\">\n\t\t\t\t\t\t<div class=\"input-grp\">\n\t\t\t\t\t\t    \n\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" name=\"chattext\" id=\"id_chattext\" placeholder=\"   Talk to me !...\">\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    <div class=\"btn\" id = \"enterbutton\"  onclick=\"javascript:onChatClick()\">\n\t\t\t\t\t\t      \n                                    Send\n                            \n                            <div>\n                                \n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t</div>\n\t\t\t</div>\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n",
        "x": 910,
        "y": 200,
        "wires": [
            [
                "56745a17.e7e524"
            ]
        ]
    },
    {
        "id": "56745a17.e7e524",
        "type": "http response",
        "z": "942c34f.944b9c8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "a3c13bca.7f1ad8",
        "type": "template",
        "z": "942c34f.944b9c8",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div class=\"botchat1\"></div>').text(txt);\n}\n\n// creates div for interaction with bot      \nfunction createNewYouDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div class=\"youchat\"></div>').text(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    console.log('IN CHAT');\n    console.log(txt);\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n} \n\n// appends latest communication with bot to botchathistory\nfunction youchat(person, txt) {\n    console.log('IN CHAT');\n    console.log(txt);\n    $('#id_botchathistory').append(createNewYouDiv(person, txt));\n}     \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('button1').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n//Bikash --> press enter--> successful\nvar input = document.querySelector('input');\n\t\n    input.addEventListener( 'keydown', (e) => {\n\tif(e.keyCode == 13){\n    var txt = $('#id_chattext').val();\n\t\tyouchat('You', txt); \n\t\tinvokeAjax(txt);\n\t\t$('#id_chattext').val('');\n\t}\n\t})\n\n// User has entered some text(Send button function).--> No need now    \nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    youchat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('COVBOT', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n    console.log('messageOUT');\n    console.log(response.botresponse.messageout);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    console.log('ajax data');\n    console.log(ajaxData.msgdata);\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n    \n}",
        "output": "str",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "c41bfcfc.577ff"
            ]
        ]
    },
    {
        "id": "571e3545.ff3e9c",
        "type": "comment",
        "z": "942c34f.944b9c8",
        "name": "Conversation BOT Template",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ac7cf7c.e6af4",
        "type": "http response",
        "z": "942c34f.944b9c8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "758692f1.7373ec",
        "type": "function",
        "z": "942c34f.944b9c8",
        "name": "Post Service Processing",
        "func": "msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 614,
        "y": 402,
        "wires": [
            [
                "4ac7cf7c.e6af4"
            ]
        ]
    },
    {
        "id": "59cb0f12.5a926",
        "type": "function",
        "z": "942c34f.944b9c8",
        "name": "Pre Service Processing",
        "func": "// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 296,
        "y": 398,
        "wires": [
            [
                "4698554d.de7c2c",
                "6f5ae5da.8fec0c"
            ]
        ]
    },
    {
        "id": "f6b24db6.08da7",
        "type": "http in",
        "z": "942c34f.944b9c8",
        "name": "BOT REST API",
        "url": "/botchat",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 119,
        "y": 311,
        "wires": [
            [
                "59cb0f12.5a926"
            ]
        ]
    },
    {
        "id": "2537fd15.789862",
        "type": "comment",
        "z": "942c34f.944b9c8",
        "name": "Conversation REST API",
        "info": "",
        "x": 138,
        "y": 271,
        "wires": []
    },
    {
        "id": "c53d522d.abd93",
        "type": "cloudant out",
        "z": "942c34f.944b9c8",
        "name": "Anlyzedata",
        "cloudant": "",
        "database": "cloudantpartofnoderedbdgpz",
        "service": "Cloudant-bks-39707",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "4698554d.de7c2c",
        "type": "watson-conversation-v1",
        "z": "942c34f.944b9c8",
        "name": "PVKBOT",
        "workspaceid": "a81dedd2-eebf-4739-ad8e-f616eb10fb57",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/116dd775-c95c-4d69-a8d6-4b04ea522ddf",
        "timeout": "",
        "optout-learning": false,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "758692f1.7373ec",
                "c53d522d.abd93",
                "d3ad1d11.0c3e4"
            ]
        ]
    },
    {
        "id": "6f5ae5da.8fec0c",
        "type": "debug",
        "z": "942c34f.944b9c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "158a0a79.7bd216",
        "type": "watson-conversation-v1",
        "z": "942c34f.944b9c8",
        "name": "PVKBOT",
        "workspaceid": "56517f76-649f-4566-988e-a45f45c8430c",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d1c0f16e-4d7f-47a0-bfd6-39eb43aa1ecc",
        "timeout": "",
        "optout-learning": false,
        "x": 360,
        "y": 920,
        "wires": [
            [
                "275e1f67.3987d"
            ]
        ]
    },
    {
        "id": "81e42df6.e81a4",
        "type": "inject",
        "z": "942c34f.944b9c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "158a0a79.7bd216"
            ]
        ]
    },
    {
        "id": "275e1f67.3987d",
        "type": "debug",
        "z": "942c34f.944b9c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 920,
        "wires": []
    },
    {
        "id": "cd895ed6.98f4c",
        "type": "watson-conversation-v1",
        "z": "942c34f.944b9c8",
        "name": "",
        "workspaceid": "56517f76-649f-4566-988e-a45f45c8430c",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d1c0f16e-4d7f-47a0-bfd6-39eb43aa1ecc",
        "timeout": "",
        "optout-learning": false,
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "6b5d0079.59dee"
            ]
        ]
    },
    {
        "id": "9ab6e8e1.290128",
        "type": "inject",
        "z": "942c34f.944b9c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pavani",
        "payloadType": "str",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "d14b6c41.70acf",
                "cd895ed6.98f4c"
            ]
        ]
    },
    {
        "id": "6b5d0079.59dee",
        "type": "debug",
        "z": "942c34f.944b9c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d14b6c41.70acf",
        "type": "debug",
        "z": "942c34f.944b9c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c41bfcfc.577ff",
        "type": "template",
        "z": "942c34f.944b9c8",
        "name": "Css",
        "field": "payload.css",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "\t\n        \n\t\tbody\n\t\t{\n\t\tmargin :0;\n\t\tpadding : 0;\n\t\tjustify-content : center;\n\t\talign-items : center;\n\t\tbackground : #808080;\n\t\tfont-family: Calibri;\n\t\tmargin: 0;\n        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;\n        font-size: 16px;\n\t\t\n\t\t}\n\t\t\n\t\t\n\t\t.container\n\t\t{\n\t\tmax-width : 600;\n\t\tmargin : auto;\n\t\tmargin-top : 4%;\n\t\tfont-family : sans-serif;\n\t\tletter-spacing : 0.5px;\n\t\t\n\t\t}\n\t\timg\n\t\t{\n\t\tmax-width : 20%;\n\t\tborder-radius: 35%;\n\t\t}\n\t\t.msg-header\n\t\t{\n\t\tborder : 1px solid #ccc;\n\t\twidth : 100%;\n\t\theight : 10%;\n\t\tborder-bottom : none;\n\t\tdisplay : inline-block;\n\t\tbackground-color : #007bff;\n\t\t}\n\t\t.msg-header-img\n\t\t{\n\t\tborder-radius: 50%;\n\t\twidth: 40%;\n\t\tmargin-left : 5%;\n\t\tmargin-top : 12px;\n\t\tfloat : left;\n\t\t}\n\t\t.activee\n\t\t{\n\t\twidth : 120px;\n\t\tfloat : center;\n\t\tmargin-top : 10px;\n\t\t}\n\t\t.activee h4\n\t\t{\n\t\tfont-size : 20px;\n\t\tmargin-left : 10px;\n\t\tcolor : #fff;\n\t\t}\n\t\t.activee h6\n\t\t{\n\t\tfont-size : 10px;\n\t\tmargin-left : 10px;\n\t\tline-height : 2px;\n\t\tcolor : #fff;\n\t\t}\n\t\t.headder-icons\n\t\t{\n\t\twidth : 120px;\n\t\tfloat : right;\n\t\tmargin-top : 12px;\n\t\tmargin-right : 10px;\n\t\t}\n\t\t.headder-icons .fa\n\t\t{\n\t\tcolor : #fff;\n\t\tcursor : pointer;\n\t\tmargin : 10px;\n\t\t}\n\t\t.bottom-icons\n\t\t{\n\t\twidth : 120px;\n\t\tfloat : right;\n\t\tmargin-top : 5px;\n\t\tmargin-right : 10px;\n\t\t}\n\t\t.bottom-icons .fa\n\t\t{\n\t\tcolor : #fff;\n\t\tcursor : pointer;\n\t\tmargin : 10px;\n\t\t}\n\t\t.chat-pg\n\t\t{\n\t\tpadding : 0 0 10px 0;\n\t\t}\n\t\t.msg-inbox\n\t\t{\n\t\tborder : 1px solid #ccc;\n\t\toverflow : hidden;\n\t\tpadding-bottom : 30px;\n\t\tbackground :white;\n\t\tbox-sizing:none;\n\t\t}\n\t\t.chatts\n\t\t{\n\t\tpadding : 30px 15px 0 25px;\n\t\t}\n\t\t.msg-pg\n\t\t{\n\t\theight : 440px;\n\t\toverflow-y : scroll;\n\t\t}\n\t\t\n\t\t.rcvd-chatts-img\n\t\t{\n\t\tdisplay : inline-block;\n\t\twidth : 200px;\n\t\tfloat : left;\n\t\t}\n\t\t.rcvd-msg\n\t\t{\n\t\tdisplay : inline-block;\n\t\tpadding : 0 0 0 10px;\n\t\tvertical-align : top;\n\t\twidth : 92%\n\t\t}\n                \n\t\t.rcvd-msg-inbox\n\t\t{\n\t\twidth : 57%;\n\t\t}\n\t\t.rcvd-msg-inbox p\n\t\t{\n\t\tbackground : #efefef none repeat scroll 0 0;\n\t\tborder-radius : 10px;\n\t\tcolor : #646464;\n\t\tfont-size : 14px;\n\t\tmargin : 0;\n\t\tpadding :5px 10px 5px 12px;\n\t\twidth : 100%;\n\t\t}\n\t\t\n\t\t.msg-bottom\n\t\t{\n\t\tposition : relative;\n\t\theight : 10%;\n\t\tbackground-color : #007bff;\n\t\t}\n\t\t.input-grp\n\t\t{\n\t\tfloat: left;\n\t\tmargin-top: 5px;\n\t\tmargin-left: 20px;\n\t\toutline : none;\n\t\tborder-radius: 20px;\n\t\twidth: 71%;\n\t\tbackground-color: #fff;\n\t\t}\n\t\t\n\t\t.input-group-text\n\t\t{\n\t\tbackground : transparent;\n\t\tborder : none;\n\t\t}\n\t\t.form-control\n\t\t{\n\t\tborder: none;\n\t\tborder-radius: 20px;\n\t\tbox-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n\t\t}\n\t\n\t\t.time\n\t\t{\n\t\tcolor : #777;\n\t\tdisplay : block;\n\t\tfont-size : 12px;\n\t\tmargin : 470px 0 0;\n\t\t}\n\t\t\n\t\t.youchat\n         {\n        float: right;\n        border-radius: 10px;\n\t\tpadding : 10px 17px;\n\t\twidth:80%;\n\t\tbackground : lightgrey;\n\t\tmargin-right: 20px;\n\t\tborder-top:4px solid #27ae60;\n\t\tmargin: 0.5em;\n\t\tfont-family: Calibri;\n        }\n\t\t.botchat1\n\t\t{\n\t\t font-family: inherit;\n    font-size: inherit;\n    font-style: inherit;\n    font-variant: normal;\n    font-variant-ligatures: normal;\n    font-variant-caps: normal;\n    font-variant-numeric: normal;\n    font-variant-east-asian: normal;\n    font-weight: inherit;   \n\t\t    \n\t\tfloat: left;\n        border-radius: 10px;\n\t\tpadding : 10px 17px;\n\t\twidth:100%;\n\t\tbackground : lightskyblue;\n\t\tmargin-right: 20px;\n\t\tborder-top:4px solid #27ae60;\n\t\tmargin: 0.5em;\n\t\tfont-size:14px;\n\t\t}\n\t\t\n\t\t.btn\n\t\t{\n\t\t     border: 2px solid #4CAF50;\n\t\tborder-radius: 12px;\n\t\tfloat: right;\n\t\tmargin-top: 10px;\n\t\tmargin-right: 20px;\n\t\t\n\t\tborder-radius: 12px;\n\t\tfloat: right;\n\t\tmargin-top: 10px;\n\t\tmargin-right: 20px;\n\t\toutline : none;\n\t\tbackground:lightgrey;\n\t\t}\n\t\t\n\t\ta{\n    position: relative;\n    display: inline-block;\n   \n       \n   \n    color: black;\n    text-transform: uppercase;\n    font-weight: bold;\n    text-decoration: none;\n    font-size: 14px;\n    overflow: hidden;\n    transition: 0.2s;\n}\na:hover{\n    color: #255784;\n    background: #2196f3;\n    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;\n    transition-delay: 1s;\n}\na span{\n    position: absolute;\n    display: block;\n}\na span:nth-child(1){\n    top: 0;\n    left: -100%;\n    width: 100%;\n    height: 2px;\n    background: linear-gradient(90deg,transparent,#2196f3);\n}\na:hover span:nth-child(1){\n    left: 100%;\n    transition: 1s;\n}\na span:nth-child(3){\n    bottom: 0;\n    right: -100%;\n    width: 100%;\n    height: 2px;\n    background: linear-gradient(270deg,transparent,#2196f3);\n}\na:hover span:nth-child(3){\n    right: 100%;\n    transition: 1s;\n    transition-delay: 0.5s;\n}\na span:nth-child(2){\n    top: -100%;\n    right: 0;\n    width: 2px;\n    height: 100%;\n    background: linear-gradient(180deg,transparent,#2196f3);\n}\na:hover span:nth-child(2){\n    top: 100%;\n    transition: 1s;\n    transition-delay: 0.25s;\n}\na span:nth-child(4){\n    bottom: -100%;\n    left: 0;\n    width: 2px;\n    height: 100%;\n    background: linear-gradient(360deg,transparent,#2196f3);\n}\na:hover span:nth-child(4){\n    bottom: 100%;\n    transition: 1s;\n    transition-delay: 0.5s;\n}\n\n\nnav{\n  background: #32CD32;\n  height: 80px;\n  width: 100%;\n}\nnav ul{\n  float: right;\n  margin-right: 60px;\n}\nnav ul li{\n  display: inline-block;\n  line-height: 80px;\n  margin: 0 2px;\n}\nnav ul li a{\n  color: #f2f2f2;\n  font-weight: 500;\n  font-size: 20px;\n  padding: 7px 13px;\n  border-radius: 3px;\n  /* text-transform: uppercase; */\n  font-family: 'Poppins', sans-serif;\n}\n\n@media (max-width: 952px){\n  label.logo{\n    font-size: 27px;\n    padding-left: 25px;\n  }\n  nav ul li a{\n    font-size: 16px;\n  }\n}\nlabel.logo{\n  color: #f2f2f2;\n  font-size: 33px;\n  line-height: 80px;\n  padding: 0 140px;\n  font-weight: 600;\n  font-family: 'Poppins', sans-serif;\n}\n\t\n\t",
        "output": "str",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "10a42caa.42cec3"
            ]
        ]
    },
    {
        "id": "d3ad1d11.0c3e4",
        "type": "debug",
        "z": "942c34f.944b9c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 320,
        "wires": []
    }
]